<main>
    <h1>Add product</h1>
    <form class="product-form" action="/admin/add-product" method="POST">

        <div class="form-control">
            <label for="product">Product</label>
            <input type="text" name="product">
        </div>
        <button type="submit">Send</button>
    </form>
</main>